.footer {
  width: 100%;
  padding: 1.5rem;
  margin-top: auto;
  text-align: center;
  color: var(--primary-text-color);
  mix-blend-mode: difference;
}

@media (prefers-color-scheme: dark) {
  .footer {
    color: var(--primary-text-color);
    mix-blend-mode: difference;
  }
}