:root {
  --primary-color: #D2F5D6;
  --primary-text-color: #FFFFFF;
  --color-1: #ED7936;
  --color-2: #8E93EB;
  --color-3: #ED4584;
  --color-4: #F6C288;
  --color-5: #6CEDEE;
  --color-6: #FD74F1;
  --background-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #300F31;
    --primary-text-color: #FFFFFF;
    --color-1: #214D88;
    --color-2: #9A281E;
    --color-3: #5EC795;
    --color-4: #4899D1;
    --color-5: #848046;
    --color-6: #5F9D41;
    --background-color: var(--primary-color);
  }
}

@font-face {
  font-family: 'junegull';
  src: url('/junegull-rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--random-bg-color, var(--primary-color));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

